/* DARK MODE */
:root {
    --white : #fdfdfd;
    --white2 : #ffffff;
    --main : #c4002a;
    --txt : #6b6c70;
    --black: #25272b;
    --black2: #26292c;
    --iconBox: #282b30;
    --shadow: #16181a6c;
    --shadow2: #d1d1d1d5;
    --icon: #16181a;
    --border: #32343b;
    --inputBg: #f1f1f1b7;
    
    /* NEUTRAL COLORS */
    --lightWhite : #fdfdfd;
    --lightTxt : #a3a4a8;
    --lightBlack: #25272b;
    --lightBlack2: #26292c;
    --lightShadow: #16181a6c;
}

/* LIGHT MODE */


:root {
    --main : #ff0037;
    --white : #202225;
    --txt : #7f818b;
    --black: #fdfdfd;
    --black2: #ffffff;
    --shadow: #cacaca4d;
    --icon: #e7e7e7;
    --border: #e6e6e6;
}

/* ======== Fonts ======== */

@font-face {
    font-family: googleSans;
    src: url(../css/fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: googleSansLight;
    src: url(../css/fonts/ProductSans-Light.ttf);
}

@font-face {
    font-family: googleSansBold;
    src: url(../css/fonts/ProductSans-Bold.ttf);
}

@font-face {
    font-family: googleSansBlack;
    src: url(../css/fonts/ProductSans-Black.ttf);
}

@font-face {
    font-family: ChangaOne;
    src: url(../css/fonts/ChangaOne-Regular.ttf);
}

/* ======== General styling ======== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: googleSansLight;
    transition: ease-in-out 0.3s;
}

section {
    border-bottom: 2px dashed var(--border);
}

.borderBottom {
    border-bottom: 2px dashed var(--border);
}

body {
    background-color: var(--black) !important;
    width: 100%;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

a *{
    text-decoration: none;
}

.button a {
    font-family: googleSansLight;
    font-size: 12px;
    color: var(--lightWhite);
    text-decoration: none;
    padding: 10px 28px;
    border: 1px solid var(--main);
    border-radius: 6px;
}

.btn1 {
    background-color: var(--main);
}

.btn1:hover {
    background-color: transparent;
    color: var(--white) !important;
}

.btn2 {
    background-color: transparent;
    color: var(--white);
}

.btn2:hover {
    background-color: var(--main);
    color: var(--lightWhite);
}

.button .btn3 {
    border: none;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}

button {
    font-family: googleSansLight;
    font-size: 12px;
    color: var(--lightWhite);
    text-decoration: none;
    padding: 10px 28px;
    border: none;
    border-radius: 6px !important;
    background-color: var(--main) !important;
    color: var(--lightWhite) !important;
}

button:hover{
    background-color: var(--lightBlack) !important;
}

button i {
    color: var(--lightWhite);
    font-size: 14px;
}

/* ======== General styling Continues ======== */

.txt * {
    color: var(--txt);
    font-size: 16px;
    line-height: 32px;
}

h3 {
    color: var(--white) !important;
    font-size: 25px !important;
    font-family: googleSansBold !important;
}

h3 a {
    text-decoration: none !important;
    font-size: 25px;
    color: var(--main);
    font-family: googleSansBlack;

}

.title {
    color: var(--white) !important;
    font-size: 19px !important;
    font-family: googleSansBold !important;
}

.heading p {
    font-size: 13px;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 0px;
    margin-bottom: 10px;
}

.heading .top {
    position: absolute;
	left: -4%;
	top: 43px;
	transform: rotate(270deg);
    margin-bottom: 0px;
}

.heading .top::before {
	height: 1px;
	width: 35px;
	background-color: var(--main);
	content: "";
	position: absolute;
	left: -50px;
}


/* .heading h2{
    position: relative;
    display: flex;
    align-items: center;
} */

.heading h2 {
    font-size: 45px;
    text-decoration: none;
    color: var(--white);
    font-family: ChangaOne;
    line-height: 45px;
}


/* ======== header ======== */



header {
    background-color: var(--black);
    box-shadow: 1px 1px 10px var(--shadow);
    z-index: 2;
}


header #logo a{
    font-size: 45px;
    text-decoration: none;
    color: var(--white);
    font-family: ChangaOne;
}


header #links {
    text-align: end;
}

header #links a {
    font-size: 16px;
    font-family: googleSansLight;
    text-decoration: none;
    color: var(--txt);
    margin: 20px;
}

header .active {
    color: var(--main) !important;
}


/* ======== Nav-Toggle ======== */

header .navIcon .icon {
    width: 50px;
    height: 50px;
}

header .navIcon .icon .lines div {
    width: 24px;
    height: 2px;
    background-color: var(--txt);
    margin: 4px 0px;
}

header .navIcon .icon div:nth-child(2) {
    width: 16px;
}



/* ======== Hero ======== */


.hero img {
    width: 100%;
}

.hero h2 {
    color: var(--white);
    font-size: 26px;
    line-height: 36px;
    font-weight: lighter;
}

.hero h2 p {
    font-family: googleSansLight;
}


.hero h2 span{
    color: var(--main);
    font-family: googleSansLight;
}

.hero h2 p:nth-child(2){
    font-family: googleSansLight;
    position: relative;
}

.hero h2 p:nth-child(2){
    font-size: 70px;
    font-family: ChangaOne;
    line-height: 40px;
}

.findMe .icons a {
    text-decoration: none;
}

.findMe .icons i {
    width: 50px;
    height: 50px;
    background-color: var(--icon);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt);
}

.findMe .icons i:hover {
    background-color: var(--main);
    color: var(--lightWhite);
}

.hero .languages {

    background-color: var(--black2);
    box-shadow: 0px 0px 15px var(--shadow);
}

.hero .languages .item{
    color: #4e4e4e8e;
    font-size: 13px;
    padding: 0px 15px;
}



/* ======== MY-STACK ======== */


.aboutMe {
    /* background-color: var(--black2); */
}


.aboutMe .stackBox>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 13px 0 rgba(0, 0, 0, 0.07);
    height: 130px;
    background-color: var(--black2);
}

.aboutMe .stackBox img {
    width: 37px;
}

.aboutMe .stackBox .name {
    color: var(--white);
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}




/* ======== My-Process ======== */


.myProcess {
    background-color: var(--lightBlack);
}

.myProcess h3 {
    color: var(--lightWhite) !important;
}

.myProcess .heading h2 {
    color: var(--lightWhite);
}

.myProcess .heading p {
    color: var(--lightWhite);
}

.myProcess .thick {
    height: 180px;
}

.myProcess h3 span {
    font-size: 12px;
}

.myProcess .thick .divide {
    width: 2px;
    height: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 4px;
}

.myProcess .thick .divide::before{
    content: "";
    position: absolute;
    top: 0px;
    height: 10px;
    width: 10px;
    background-color: var(--main);
    border-radius: 50%;
}

/* ======== Stop Button from changing color when we switch to light mode ======== */

.btnLight a:hover {
    color: var(--lightWhite) !important;
}




/* ======== Projects ======== */

.project .projectBox {
  border: 1px solid var(--border);
  padding: 15px 5px 5px 8px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project .news .projectBox {
  padding: 0px;
  border: none;
}

.counter {
    background-color: var(--main);
}

.project .projectBox img {
    border-radius: 10px;
}

.counter .counterBox p {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: var(--lightWhite);
}

.counter .counterBox span {
    font-size: 60px;
    font-family: googlesansBold;
    margin-right: 17px;
    color: var(--lightWhite);
}



/*========== Contact Section ==========*/

.contact .mailto {
    margin-top: -10px !important;
}

.contact .box {
	background-color: var(--lightWhite);
	border-radius: 20px;
	padding: 55px 35px;
    border: 1px solid var(--shadow2);
}

.contact .box .input i {
	color: var(--lightTxt);
}

.contact .box .input {
	width: 48.5%;
	border-radius: 8px;
	background-color: var(--inputBg);
	height: 45px;
	box-shadow: inset 2px 2px 6px var(--shadow2);
	padding: 3px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact .box .input input {
	width: 85%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 15px;
}

.contact .box textarea {
	width: 100%;
	border-radius: 8px;
	background-color: var(--inputBg);
	height: 45px;
	box-shadow: inset 2px 2px 6px var(--shadow2);
	margin-bottom: 4px;
	padding: 20px;
	display: block;
	height: 140px;
	outline: none;
    border: none;
}


/* ======== Media Query ======== */

@media (max-width: 1200px){

    /* ======== Hero ======== */

    .hero h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .hero h2 p:nth-child(2){
        font-size: 60px;
    }
    
}

@media (max-width: 991px){

    /* ======== Hero ======== */


    header {
        overflow: hidden;
        transition: height 0.7s !important;
        height: 79px;
    }

    .hActive {
        height: 430px;
    }

    header nav #links{
        position: absolute;
        bottom: -400px;
        left: 0px;
        width: 100%;
        border-top: 1px solid var(--shadow);
    }
    
    header nav #links a {
        display: block;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }

    header nav #links a:hover {
        background-color: var(--black2);
    }


    /* ======== Nav-Icon ======== */

    header .navIcon .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header .nActive .icon .lines div {
        position: absolute;
        margin: 0px !important;
        background-color: var(--main);
    }

    header .nActive .icon .lines div:nth-child(1) {
        transform: rotate(135deg) !important;
    }
    
    header .nActive .icon .lines div:nth-child(2) {
        display: none;
    }

    header .nActive .icon .lines div:nth-child(3) {
        transform: rotate(45deg);
    }


    /* ======== Hero ======== */

    .hero h2 {
        font-size: 23px;
        line-height: 43px;
        text-align: center;
    }

    .hero h2 p:nth-child(2){
        font-size: 75px;
    }

    .findMe .icons div {
        width: 60px;
        height: 60px;
    }

    
    /* ======== My-Process ======== */
    
    
    
    .myProcess .thick {
        height: 210px;
    }


    /* ======== My-Process ======== */
    
    .counter .counterBox p {
        flex-direction: column;
    }
    
    .counter .counterBox span {
        margin: 0px 0px 20px;
    }
    
    /* ======== My-Projects ======== */
    
    .project .projectBox {
        padding: 20px 5px;
    }

    /* ======== Contact ======== */

    .contact .box {
        padding: 45px 25px;
    }
}

@media (max-width: 768px){

    /* ======== Hero ======== */

    .hero h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .hero h2 p:nth-child(2){
        font-size: 60px;
    }



    /* ======== My-Process ======== */
    
    
    
    .myProcess .thick {
        height: 230px;
    }


    /* ======== My-Process ======== */

    h3 {
        font-size: 20px !important;
    }
    
    .title {
        font-size: 18px !important;
    }

    /*========== Contact Section ==========*/


    .contact .box .input {
        width: 100%;
    }

}

@media (max-width: 540px){

    /* ======== Hero ======== */

    .hero h2 p:nth-child(2){
        font-size: 55px;
        line-height: 45px;
    }

    .heading h2 {
        font-size: 40px;
    }

}

@media (max-width: 402px){

    /* ======== Hero ======== */

    .hero h2 {
        font-size: 17px;
        line-height: 16px;
    }

    .hero h2 p:nth-child(2){
        font-size: 48px;
    }



    /* ======== My-Process ======== */



    .myProcess .thick {
        height: 270px;
    }


    
    /* ======== My-Process ======== */

    h3 {
        font-size: 18px !important;
    }
    
    .title {
        font-size: 17px !important;
    }

}
